body {
    background-color: #202020;
    color: #f4f4f4;
    font-family: sans-serif;
}

.user-select-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-dark-green {
    background-color: #074f34;
}

.bg-dark-orange {
    background-color: #2b1a13;
}

.bg-dark-blue {
    background-color: #171346;
}

.bg-light-silver {
    background-color: #bfbfbf;
}

.bg-focus-near-white:focus {
    background-color: #dddddd;
    transition: background-color 200ms ease-in-out;
}
.glow-dark-red:hover {
    color: #f24951;
    text-shadow: 0px 0px 1px rgba( 231, 4, 15, .75 );
}
.shadow-hover-light:hover {
    transition: box-shadow .5s cubic-bezier( .165, .84, .44, 1 );
    box-shadow: 0 0 5px 2px rgba( 175, 175, 175, .25 );
}

.tooltip {
    position: relative;
    cursor: default;
}
.tooltip .tooltip-text {
    visibility: hidden;
    padding: 3px 8px 6px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: -80%;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 0px 16px 2px rgba( 0, 0, 0, .5 );
}
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.ns-green {
    background-color: #074f34;
    color: #9eebcf;
    border-color: #19a974;
}
.ns-green .tooltip .tooltip-text::after {
    border-color: #19a974 transparent transparent transparent;
}
.ns-blue {
    background-color: #171346;
    color: #96ccff;
    border-color: #357edd;
}
.ns-blue .tooltip .tooltip-text::after {
    border-color: #357edd transparent transparent transparent;
}
.ns-orange {
    background-color: #2b1a13;
    color: #fbf1a9;
    border-color: #ff6300;
}
.ns-orange .tooltip .tooltip-text::after {
    border-color: #ff6300 transparent transparent transparent;
}
.ns-black {
    background-color: #111111;
    color: #e4e4e4;
    border-color: #999999;
}
.ns-black .tooltip .tooltip-text::after {
    border-color: #999999 transparent transparent transparent;
}
.ns-gray {
    background-color: #333333;
    color: #f4f4f4;
    border-color: #777777;
}
.ns-gray .tooltip .tooltip-text::after {
    border-color: #777777 transparent transparent transparent;
}
.ns-silver {
    background-color: #999999;
    color: #101010;
    border-color: #e4e4e4;
}
.ns-silver .tooltip .tooltip-text::after {
    border-color: #f4f4f4 transparent transparent transparent;
}
